@import "tailwindcss";
@import "./config.css";
@import "./custom-variant.css";
@import "auera-ui/dist/auera.css";

:root {
  --background: #171717;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-inter);
}

a {
  font-family: var(--font-inter);
}

.card {
  background: transparent;
  /* backdrop-filter: blur(20px); */
  /* -webkit-backdrop-filter: blur(20px); */
  z-index: 50;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  /* background-size: 30px 30px; */
  background-size: 30px;
}

.navbar {
  background: transparent;
  /* backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); */
  background-image: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
  /* background-size: 30px; */
}
